/* v1.6 */

/* Basic */
:root{
--body-font-family: "Roboto", sans-serif;
--body-bg: #f0f2f5;
--body-bg-color-dark: #121212;
--body-color: #212529;
--body-color-dark: #dcdcdc;
--main-link: #743CFD;
--main-btn: #743CFD;
--header-background: #fff;
--header-background-dark: #212121;
--header-color: #252525;
--header-bg-color-dark: #e8e8e8;
--header-search-bg: rgba(0,0,0,0.08);
--header-search-color: #252525;
--main-color: #ffffff;
--plyr-color-main: #743CFD;
}
